[Unit]
Description=SSD Activity Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/nuno/Software/linux/ssd-sleep-fix/update-file.sh
Restart=always
User=nuno

[Install]
WantedBy=multi-user.target
